<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rogaininga rezultāti - Amanda Mankus</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; }
        .flash-message { padding: 10px; border-radius: 5px; margin-bottom: 10px; }
        .success { background-color: #d4edda; color: #155724; }
        .danger { background-color: #f8d7da; color: #721c24; }
    </style>
</head>
<body>

<p>Until there are no results, please enjoy the Dead Parrot sketch</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4vuW6tQ0218?si=ARk0fNEgqQcx_rXD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<p>Unless, of course, if you are <a href = "/admin">admin</a> :)</p>

</body>
</html>