<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rogaininga rezultāti</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>

    <h2>Rogaininga rezultāti</h2>
    <sub><a href="/admin">Admin</a></sub>
    <br><br>

    {{ tables|safe }}  <!-- Te dzīvo Pandas  -->

</body>
</html>