<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oopsie...</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; }
        .flash-message { padding: 10px; border-radius: 5px; margin-bottom: 10px; }
        .success { background-color: #d4edda; color: #155724; }
        .danger { background-color: #f8d7da; color: #721c24; }
    </style>
</head>
<body>

<p>Splits are not uploaded yet.</p>
<p>Please poke your <a href = "/admin">admin</a></p>

</body>
</html>